* {
font-family: "FontAwesome", monospace;
font-size: 14px;
color: black;
background: transparent;
border: none;
padding: 0 7px;
}

#waybar {
background: rgba(0, 0, 0, 0); /* Fully transparent */
color: black;
}

#battery,
#custom-temperature,
#pulseaudio,
#backlight,
#network,
#hyprland-workspaces {
margin: 0 5px;
}

/* Network icon styling */
#custom-network {
font-size: 14px; /* Icon size */
}

